02-WindowsAzureServices/Demos/End/01-After Web Site Host/LatLon.Clients.Win81Client/Service References/LatLonWcf/LatLonUtilities.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://BretStateham.com/samples/2013/10/LatLon" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BretStateham.com/samples/2013/10/LatLon" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://BretStateham.com/samples/2013/10/LatLon/Imports">
      <xsd:import schemaLocation="http://lanlon.azurewebsites.net/LatLonUtilities.svc?xsd=xsd0" namespace="http://BretStateham.com/samples/2013/10/LatLon" />
      <xsd:import schemaLocation="http://lanlon.azurewebsites.net/LatLonUtilities.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILatLonUtilitiesService_RadiansBetweenTwoPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:RadiansBetweenTwoPoints" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_RadiansBetweenTwoPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:RadiansBetweenTwoPointsResponse" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_NauticalMilesBetweenTwoPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:NauticalMilesBetweenTwoPoints" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_NauticalMilesBetweenTwoPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:NauticalMilesBetweenTwoPointsResponse" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_KilometersBetweenTwoPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:KilometersBetweenTwoPoints" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_KilometersBetweenTwoPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:KilometersBetweenTwoPointsResponse" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_MilesBetweenTwoPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:MilesBetweenTwoPoints" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_MilesBetweenTwoPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:MilesBetweenTwoPointsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILatLonUtilitiesService">
    <wsdl:operation name="RadiansBetweenTwoPoints">
      <wsdl:input wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/RadiansBetweenTwoPoints" message="tns:ILatLonUtilitiesService_RadiansBetweenTwoPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/RadiansBetweenTwoPointsResponse" message="tns:ILatLonUtilitiesService_RadiansBetweenTwoPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NauticalMilesBetweenTwoPoints">
      <wsdl:input wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/NauticalMilesBetweenTwoPoints" message="tns:ILatLonUtilitiesService_NauticalMilesBetweenTwoPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/NauticalMilesBetweenTwoPointsResponse" message="tns:ILatLonUtilitiesService_NauticalMilesBetweenTwoPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KilometersBetweenTwoPoints">
      <wsdl:input wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/KilometersBetweenTwoPoints" message="tns:ILatLonUtilitiesService_KilometersBetweenTwoPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/KilometersBetweenTwoPointsResponse" message="tns:ILatLonUtilitiesService_KilometersBetweenTwoPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MilesBetweenTwoPoints">
      <wsdl:input wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/MilesBetweenTwoPoints" message="tns:ILatLonUtilitiesService_MilesBetweenTwoPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/MilesBetweenTwoPointsResponse" message="tns:ILatLonUtilitiesService_MilesBetweenTwoPoints_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>