02-WindowsAzureServices/Demo/Prep/LatLon02/LatLon.Windows81Client/Service References/LatLonWcf/LatLon1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BretStateham.com/samples/2013/10/LatLon" elementFormDefault="qualified" targetNamespace="http://BretStateham.com/samples/2013/10/LatLon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RadiansBetweenToPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RadiansBetweenToPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RadiansBetweenToPointsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NauticalMilesBetweenToPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NauticalMilesBetweenToPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NauticalMilesBetweenToPointsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometersBetweenToPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometersBetweenToPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilometersBetweenToPointsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilesBetweenToPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilesBetweenToPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MilesBetweenToPointsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>