02-WindowsAzureServices/Demo/Prep/LatLon02/LatLon.Windows81Client/Service References/LatLonWcf/LatLonUtilitiesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://BretStateham.com/samples/2013/10/LatLon" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://BretStateham.com/samples/2013/10/LatLon" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://BretStateham.com/samples/2013/10/LatLon/Imports">
      <xsd:import schemaLocation="http://localhost/LatLonUtilitiesService.svc?xsd=xsd0" namespace="http://BretStateham.com/samples/2013/10/LatLon" />
      <xsd:import schemaLocation="http://localhost/LatLonUtilitiesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILatLonUtilitiesService_RadiansBetweenToPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:RadiansBetweenToPoints" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_RadiansBetweenToPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:RadiansBetweenToPointsResponse" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_NauticalMilesBetweenToPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:NauticalMilesBetweenToPoints" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_NauticalMilesBetweenToPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:NauticalMilesBetweenToPointsResponse" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_KilometersBetweenToPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:KilometersBetweenToPoints" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_KilometersBetweenToPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:KilometersBetweenToPointsResponse" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_MilesBetweenToPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:MilesBetweenToPoints" />
  </wsdl:message>
  <wsdl:message name="ILatLonUtilitiesService_MilesBetweenToPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:MilesBetweenToPointsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILatLonUtilitiesService">
    <wsdl:operation name="RadiansBetweenToPoints">
      <wsdl:input wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/RadiansBetweenToPoints" message="tns:ILatLonUtilitiesService_RadiansBetweenToPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/RadiansBetweenToPointsResponse" message="tns:ILatLonUtilitiesService_RadiansBetweenToPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NauticalMilesBetweenToPoints">
      <wsdl:input wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/NauticalMilesBetweenToPoints" message="tns:ILatLonUtilitiesService_NauticalMilesBetweenToPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/NauticalMilesBetweenToPointsResponse" message="tns:ILatLonUtilitiesService_NauticalMilesBetweenToPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KilometersBetweenToPoints">
      <wsdl:input wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/KilometersBetweenToPoints" message="tns:ILatLonUtilitiesService_KilometersBetweenToPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/KilometersBetweenToPointsResponse" message="tns:ILatLonUtilitiesService_KilometersBetweenToPoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MilesBetweenToPoints">
      <wsdl:input wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/MilesBetweenToPoints" message="tns:ILatLonUtilitiesService_MilesBetweenToPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://BretStateham.com/samples/2013/10/LatLon/ILatLonUtilitiesService/MilesBetweenToPointsResponse" message="tns:ILatLonUtilitiesService_MilesBetweenToPoints_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>