02-WindowsAzureServices/Demos/End/03-After Worker Role Host/LatLon.Clients.Win81Client/Service References/LatLonWcf/LatLon1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BretStateham.com/samples/2013/10/LatLon" elementFormDefault="qualified" targetNamespace="http://BretStateham.com/samples/2013/10/LatLon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RadiansBetweenTwoPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RadiansBetweenTwoPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RadiansBetweenTwoPointsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NauticalMilesBetweenTwoPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NauticalMilesBetweenTwoPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NauticalMilesBetweenTwoPointsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometersBetweenTwoPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometersBetweenTwoPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilometersBetweenTwoPointsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilesBetweenTwoPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude1" type="xs:double" />
        <xs:element minOccurs="0" name="Latitude2" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilesBetweenTwoPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MilesBetweenTwoPointsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>